openapi: 3.0.3

info:
  title: Sova Intel API
  version: "1.1"
  description: |
    On-chain intelligence for Solana wallets. Returns digested intelligence — trader profiles,
    behavioral patterns, realized/unrealized PnL, holder maps, and wallet similarity scores —
    all derived from full transaction history.

    **Base URL:** `https://api.sova-intel.com/api/v1`

    ## Authentication

    All Intel endpoints require authentication. Two methods are supported:

    ### API Key
    Pass `X-Api-Key: ak_your_key` on every request. Credits are deducted from the key owner's account.

    ### X402 (Autonomous Solana USDC payment)
    Call any endpoint without auth → receive HTTP 402 with a `PAYMENT-REQUIRED` header (base64 JSON)
    → build a USDC `transferChecked` transaction → resend with `payment-signature` header.
    Each signature is single-use (24h replay protection).

    ## Credit pricing
    | Endpoint | Credits | USD |
    |:---------|--------:|----:|
    | GET /intel/wallet/:addr | 5 | $0.075 |
    | GET /intel/wallet/:addr/hud | 1 | $0.015 |
    | GET /intel/wallet/:addr/tokens | 3 | $0.045 |
    | POST /intel/wallets/batch-hud | 5 | $0.075 |
    | POST /intel/token/:mint/holders | 20 | $0.30 |
    | POST /intel/wallets/similarity | 20 | $0.30 |

    1 credit = $0.015 USDC.

    GET Intel endpoints charge on successful `200`. POST Intel endpoints charge on accepted `202`.
    GET timeout fallback `202` uses a prepaid re-call flow — no double charge.

servers:
  - url: https://api.sova-intel.com/api/v1
    description: Production

security:
  - ApiKeyAuth: []
  - X402Auth: []

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
      description: API key with the format `ak_<hex>`. Credits deducted from key owner's account.
    X402Auth:
      type: apiKey
      in: header
      name: payment-signature
      description: |
        X402 v2 on-chain USDC payment. Base64-encoded JSON:
        ```json
        {
          "x402Version": 2,
          "scheme": "exact",
          "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
          "payload": { "transaction": "<base64 signed tx>" }
        }
        ```

  schemas:
    DataQualityTier:
      type: string
      enum: [GOLD, SILVER, BRONZE, INSUFFICIENT]
      description: Confidence tier based on transaction history volume and recency.

    WalletHud:
      type: object
      description: Compact single-glance signal for a wallet.
      required:
        - walletAddress
        - signalType
        - trimmedMeanPnl
        - avgTxValueSol
        - behaviorCode
        - avgTradesPerDay
        - winRate
        - dataQualityTier
        - isBot
        - isWhale
        - uniqueTokensPerDay
        - currentHoldingsSol
        - calculatedAt
      properties:
        walletAddress:
          type: string
          example: "7xKXtg2CW87d97TXJSDpbD5jBkheTqA83TZRuJosgAsU"
        signalType:
          type: string
          example: "wallet_behavior_v1"
        trimmedMeanPnl:
          type: number
          description: Trimmed mean PnL in SOL (outliers removed).
          example: 12.4
        avgTxValueSol:
          type: number
          description: Average transaction value in SOL.
          example: 2.45
        behaviorCategory:
          type: string
          nullable: true
          description: Human-readable behavior label.
          example: "SWING_TRADER"
        behaviorCode:
          type: string
          description: Short behavior code.
          example: "W"
        medianHoldTimeHours:
          type: number
          nullable: true
          description: Median hold time across completed positions (hours).
          example: 12.1
        avgTradesPerDay:
          type: number
          example: 4.2
        winRate:
          type: number
          minimum: 0
          maximum: 1
          description: Fraction of trades that closed profitable (0–1).
          example: 0.67
        dataQualityTier:
          $ref: "#/components/schemas/DataQualityTier"
        isBot:
          type: boolean
          description: True if the wallet exhibits automated trading patterns.
          example: false
        isWhale:
          type: boolean
          description: True if the wallet holds or trades at whale scale.
          example: false
        uniqueTokensPerDay:
          type: number
          example: 3.1
        currentHoldingsSol:
          type: number
          description: Current open positions value in SOL.
          example: 45.2
        currentHoldingsUsd:
          type: number
          nullable: true
          example: 8145.0
        calculatedAt:
          type: string
          format: date-time
          example: "2026-03-03T11:30:00.000Z"
        provenance:
          type: object
          nullable: true
          properties:
            provider:
              type: string
            nodeId:
              type: string
              nullable: true
            schemaVersion:
              type: string
            generatedAt:
              type: string
              format: date-time
            source:
              type: string
              enum: [onchain, indexed_db, hybrid]
              nullable: true

    WalletSummary:
      type: object
      required:
        - lastAnalyzedAt
        - realizedPnl
        - profitableTradesCount
        - totalTradesCount
        - currentSolBalance
        - knownType
        - knownLabel
      properties:
        lastAnalyzedAt:
          type: string
          format: date-time
        realizedPnl:
          type: number
          description: Total realized PnL in SOL.
        profitableTradesCount:
          type: integer
        totalTradesCount:
          type: integer
        currentSolBalance:
          type: number
          nullable: true
        knownType:
          type: string
          nullable: true
          description: e.g. "cex_deposit", "smart_money"
        knownLabel:
          type: string
          nullable: true

    WalletBehavior:
      type: object
      properties:
        tradingStyle:
          type: string
          nullable: true
          example: "swing"
        speedCategory:
          type: string
          nullable: true
          example: "medium"
        avgHoldTimeHours:
          type: number
          nullable: true
        medianHoldTimeHours:
          type: number
          nullable: true
        buySellRatio:
          type: number
          nullable: true
        exitPattern:
          type: string
          nullable: true
          example: "partial_exit"

    PnlAllTime:
      type: object
      properties:
        realizedPnlSol:
          type: number
        unrealizedPnlSol:
          type: number
        netPnlSol:
          type: number
        winRate:
          type: number
          minimum: 0
          maximum: 1

    WalletProfileResponse:
      type: object
      required: [status, walletAddress, summary]
      properties:
        status:
          type: string
          enum: [ok]
        walletAddress:
          type: string
        summary:
          $ref: "#/components/schemas/WalletSummary"
        hud:
          $ref: "#/components/schemas/WalletHud"
          nullable: true
        behavior:
          $ref: "#/components/schemas/WalletBehavior"
          nullable: true
        pnl:
          type: object
          nullable: true
          properties:
            allTime:
              $ref: "#/components/schemas/PnlAllTime"
              nullable: true

    TokenPnlRow:
      type: object
      required: [tokenAddress, realizedPnlSol, unrealizedPnlSol, roi, totalSolSpent, winRate]
      properties:
        tokenAddress:
          type: string
        realizedPnlSol:
          type: number
        unrealizedPnlSol:
          type: number
        roi:
          type: number
          description: Return on investment as a multiplier (e.g. 1.5 = 50% gain).
        totalSolSpent:
          type: number
        winRate:
          type: number
          minimum: 0
          maximum: 1

    TokenPnlResponse:
      type: object
      required: [data, total, page, pageSize]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/TokenPnlRow"
        total:
          type: integer
        page:
          type: integer
        pageSize:
          type: integer

    BatchHudResponse:
      type: object
      required: [huds, notFound, calculatedAt]
      properties:
        huds:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/WalletHud"
          description: Map of walletAddress → WalletHud for wallets with fresh data.
        notFound:
          type: array
          items:
            type: string
          description: Addresses with no data in DB (not yet analyzed).
        calculatedAt:
          type: string
          format: date-time

    JobAcceptedResponse:
      type: object
      required: [status, jobId, requestId, monitoringUrl]
      properties:
        status:
          type: string
          enum: [queued]
        jobId:
          type: string
        requestId:
          type: string
        monitoringUrl:
          type: string

    WalletGetQueuedResponse:
      type: object
      description: |
        Returned by GET wallet endpoints on timeout fallback (202).
        Poll the jobId, then re-call with `X-Prepaid-Job-Id` header — no additional credit charge.
      required: [status, walletAddress, jobId, message]
      properties:
        status:
          type: string
          enum: [queued]
        walletAddress:
          type: string
        jobId:
          type: string
        prepaidJobId:
          type: string
          description: Use this value in the `X-Prepaid-Job-Id` header on re-call.
        monitoringUrl:
          type: string
          nullable: true
        message:
          type: string

    JobStatus:
      type: object
      required: [status]
      properties:
        status:
          type: string
          enum: [waiting, active, delayed, completed, failed]
        progress:
          type: number
          minimum: 0
          maximum: 100

    HolderProfile:
      type: object
      required: [walletAddress, rank, supplyPercent, dataQualityTier, completedCycleCount, confidence]
      properties:
        walletAddress:
          type: string
        rank:
          type: integer
          description: Holder rank by supply percentage (1 = largest holder).
        supplyPercent:
          type: number
          description: Percentage of circulating supply held.
        tokenHoldingValueSol:
          type: number
          nullable: true
        knownType:
          type: string
          nullable: true
        knownLabel:
          type: string
          nullable: true
        analysisSkipped:
          type: boolean
          nullable: true
        medianHoldTimeHours:
          type: number
          nullable: true
        avgHoldTimeHours:
          type: number
          nullable: true
        behaviorType:
          type: string
          nullable: true
        exitPattern:
          type: string
          nullable: true
        dataQualityTier:
          $ref: "#/components/schemas/DataQualityTier"
        completedCycleCount:
          type: integer
        confidence:
          type: number
          minimum: 0
          maximum: 1
        walletPnlSol:
          type: number
          nullable: true
        walletRealizedPnlSol:
          type: number
          nullable: true
        solBalance:
          type: number
          nullable: true

    HolderProfilesResult:
      type: object
      required: [mode, profiles, metadata]
      properties:
        mode:
          type: string
          enum: [token, wallet]
        tokenMint:
          type: string
          nullable: true
        profiles:
          type: array
          items:
            $ref: "#/components/schemas/HolderProfile"
        metadata:
          type: object
          required: [totalHoldersRequested, totalHoldersAnalyzed, totalProcessingTimeMs, avgProcessingTimePerWalletMs]
          properties:
            totalHoldersRequested:
              type: integer
            totalHoldersAnalyzed:
              type: integer
            totalProcessingTimeMs:
              type: integer
            avgProcessingTimePerWalletMs:
              type: number
            failedHolders:
              type: integer

    ErrorResponse:
      type: object
      properties:
        message:
          type: string
        statusCode:
          type: integer

    PaymentRequiredResponse:
      type: object
      properties:
        error:
          type: string
          example: "Payment required"
        required:
          type: integer
          description: Credits required for this endpoint.

paths:
  /intel/wallet/{address}:
    get:
      operationId: getWalletProfile
      summary: Full wallet profile — 5 credits ($0.075)
      description: |
        Returns a full wallet intelligence profile: summary, behavioral analysis, realized/unrealized PnL, and HUD signal.

        **Synchronous hold:** For cold/stale wallets the server holds the HTTP connection up to ~30s while running a flash analysis.
        On timeout fallback it returns HTTP 202 (`WalletGetQueuedResponse`).

        **Re-call flow:** Poll `GET /jobs/{jobId}` until `completed`, then call this endpoint again with the
        `X-Prepaid-Job-Id: {prepaidJobId}` header. Total charge is 5cr regardless of path taken.

        **Credits charged:** 5cr on successful `200`. `202` timeout fallback = 0cr.
      parameters:
        - name: address
          in: path
          required: true
          schema:
            type: string
          description: Solana wallet address (base58).
          example: "7xKXtg2CW87d97TXJSDpbD5jBkheTqA83TZRuJosgAsU"
        - name: X-Prepaid-Job-Id
          in: header
          required: false
          schema:
            type: string
          description: Pass the `prepaidJobId` from a previous 202 response to skip re-charging.
      responses:
        "200":
          description: Wallet profile data ready.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WalletProfileResponse"
        "202":
          description: Analysis queued (timeout fallback). Poll job then re-call with X-Prepaid-Job-Id.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WalletGetQueuedResponse"
        "402":
          description: Payment required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentRequiredResponse"
        "422":
          description: System or program wallet — not analyzable.
        "500":
          description: Server error.

  /intel/wallet/{address}/hud:
    get:
      operationId: getWalletHud
      summary: Wallet HUD signal — 1 credit ($0.015)
      description: |
        Returns the compact HUD signal: behavior code, win rate, PnL tier, bot/whale flags, hold time.

        Same synchronous hold and 202 fallback contract as `GET /intel/wallet/:addr`.
        On 202 fallback: poll job, re-call with `X-Prepaid-Job-Id`. Total charge is 1cr.

        **Credits charged:** 1cr on successful `200`.
      parameters:
        - name: address
          in: path
          required: true
          schema:
            type: string
          example: "7xKXtg2CW87d97TXJSDpbD5jBkheTqA83TZRuJosgAsU"
        - name: X-Prepaid-Job-Id
          in: header
          required: false
          schema:
            type: string
      responses:
        "200":
          description: HUD data ready.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WalletHud"
        "202":
          description: Analysis queued (timeout fallback).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WalletGetQueuedResponse"
        "402":
          description: Payment required.
        "422":
          description: System or program wallet.
        "500":
          description: Server error.

  /intel/wallet/{address}/tokens:
    get:
      operationId: getWalletTokens
      summary: Per-token PnL table — 3 credits ($0.045)
      description: |
        Returns a paginated, sortable table of per-token realized/unrealized PnL for the wallet.

        **Credits charged:** 3cr on `200`.
      parameters:
        - name: address
          in: path
          required: true
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: pageSize
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: sortBy
          in: query
          schema:
            type: string
            enum: [netSolProfitLoss, realizedPnlSol, roi, totalSolSpent]
            default: netSolProfitLoss
        - name: sortOrder
          in: query
          schema:
            type: string
            enum: [ASC, DESC]
            default: DESC
      responses:
        "200":
          description: Token PnL table.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenPnlResponse"
        "402":
          description: Payment required.
        "422":
          description: System or program wallet.

  /intel/wallets/batch-hud:
    post:
      operationId: batchHud
      summary: Batch HUD for up to 30 wallets — 5 credits flat ($0.075)
      description: |
        Returns HUD signals for up to 30 wallets in a single call. Wallets without fresh data appear in `notFound`.

        **Credits charged:** 5cr flat on `200`, regardless of how many wallets have data.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [wallets]
              properties:
                wallets:
                  type: array
                  items:
                    type: string
                  minItems: 1
                  maxItems: 30
                  example: ["addr1", "addr2", "addr3"]
      responses:
        "200":
          description: Batch HUD result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchHudResponse"
        "400":
          description: Invalid request body.
        "402":
          description: Payment required.

  /intel/token/{mint}/holders:
    post:
      operationId: queueHolderProfiles
      summary: Top N token holders with behavioral profiles — 20 credits ($0.30)
      description: |
        Queues an async analysis of the top N holders of the given token mint.
        Returns HTTP 202 with a `jobId`. Poll `GET /jobs/{jobId}` until `completed`,
        then fetch the result from `GET /jobs/result/by-key?key=holder-profiles:result:{jobId}`.

        Result keys expire after **15 minutes**.

        **Credits charged:** 20cr on accepted `202`.
      parameters:
        - name: mint
          in: path
          required: true
          schema:
            type: string
          description: Token mint address (base58).
          example: "So11111111111111111111111111111111111111112"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                topN:
                  type: integer
                  minimum: 1
                  maximum: 100
                  default: 20
                  description: Number of top holders to analyze.
      responses:
        "202":
          description: Analysis queued. Poll jobId, then fetch result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobAcceptedResponse"
        "400":
          description: Invalid mint address.
        "402":
          description: Payment required.

  /intel/wallets/similarity:
    post:
      operationId: queueSimilarity
      summary: Wallet similarity analysis — 20 credits ($0.30)
      description: |
        Queues an async similarity analysis across 2–30 wallets. Identifies behavioral clusters,
        shared token exposure, and trading pattern overlap.

        Returns HTTP 202. Poll `GET /jobs/{jobId}` until `completed`,
        then fetch from `GET /jobs/result/by-key?key=similarity:result:{requestId}`.

        Note: result key uses `requestId`, not `jobId`.

        Result keys expire after **15 minutes**.

        **Credits charged:** 20cr on accepted `202`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [wallets]
              properties:
                wallets:
                  type: array
                  items:
                    type: string
                  minItems: 2
                  maxItems: 30
                  example: ["addr1", "addr2", "addr3"]
      responses:
        "202":
          description: Analysis queued. Poll jobId, then fetch result at similarity:result:{requestId}.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobAcceptedResponse"
        "400":
          description: Invalid request body.
        "402":
          description: Payment required.

  /jobs/{jobId}:
    get:
      operationId: getJobStatus
      summary: Poll async job status (free, no auth)
      description: |
        Returns the current status and progress of an async job.
        This endpoint is **public** — no authentication required, no credits charged.

        Authenticated callers may receive additional fields. Unauthenticated callers receive
        only status metadata (no result data, to prevent free enumeration).

        Poll every 5s until `status` is `completed` or `failed`.
      security: []
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
          example: "intel-holders-1234-abc"
      responses:
        "200":
          description: Job status.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobStatus"
        "404":
          description: Job not found.

  /jobs/result/by-key:
    get:
      operationId: getJobResult
      summary: Fetch async job result by key
      description: |
        Fetches the result of a completed async job from the result store.

        Result keys:
        - Holder profiles: `holder-profiles:result:{jobId}`
        - Similarity: `similarity:result:{requestId}`

        **Results expire after 15 minutes.** Returns 404 if expired or not yet ready.
      parameters:
        - name: key
          in: query
          required: true
          schema:
            type: string
          example: "holder-profiles:result:intel-holders-1234-abc"
      responses:
        "200":
          description: Job result data.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/HolderProfilesResult"
                  - type: object
                    description: Similarity result (schema varies by wallet set).
        "404":
          description: Result not found or expired.
        "402":
          description: Payment required.
